table{
  width: 100%;
}

.filterContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.Component{
  width: 33%;
  display: flex;
  justify-content: center;
}

.Component_Button{
  align-items: center;
  justify-content: center;
}

.Component_Button button {
  height: 50%;
  margin: 3px;
}

.mat-table {
  border: 1px solid #cfcfcf;
  font-weight: bold;
  height: 30vh !important;
}

th {
  background-color: rgb(211, 211, 211);
  font-weight: bold;
  color: black;
  font-size: 17px;
  align-items: center;
  justify-content: center;
}

tr:nth-child(even){
  background: rgba(205, 201, 203, 0.61);
}

td {
  text-align: center;
}
