<h1 mat-dialog-title>Products</h1>
<br>
<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>

<!--Guzik dodania do listy produktów-->
<button mat-icon-button (click)="addButtonClick()">
  <mat-icon>add</mat-icon>
</button>

<!--Tablica zawierająca rekordy z bazy danych-->
<table mat-table [dataSource]="dataSource" matSort>

<!--Każdy z containerów to jedna kolumna która wyświetla pojedyńczą zawartość encji-->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
    <td mat-cell *matCellDef="let product">{{product.id}}</td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
    <td mat-cell *matCellDef="let product">{{product.name}}</td>
  </ng-container>

  <ng-container matColumnDef="type">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Type</th>
    <td mat-cell *matCellDef="let product">{{product.type}}</td>
  </ng-container>
  <ng-container matColumnDef="count">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Count</th>
    <td mat-cell *matCellDef="let product">{{product.count}}</td>
  </ng-container>

  <ng-container matColumnDef="category">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Category</th>
    <td mat-cell *matCellDef="let product">{{product.category}}</td>
  </ng-container>

  <ng-container matColumnDef="supplier">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Supplier</th>
    <td mat-cell *matCellDef="let product">{{product.supplier.name}}</td>
  </ng-container>

  <ng-container matColumnDef="country">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Country</th>
    <td mat-cell *matCellDef="let product">{{product.country}}</td>
  </ng-container>

<!--  Odtąd zaczynają się guziki służące do modyfikacji rekordu lub jego usunięcia-->
  <ng-container matColumnDef="edit">
    <th mat-header-cell *matHeaderCellDef>Edit</th>
    <td mat-cell *matCellDef="let product">
      <button mat-icon-button (click)="editButtonClick(dataSource.data.indexOf(product))">
        <mat-icon color="primary">edit</mat-icon>
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef><div *ngIf="this.authService.getRole()=='admin'">Delete</div></th>
    <td mat-cell *matCellDef="let product">
      <button mat-icon-button (click)="deleteButtonClick(dataSource.data.indexOf(product))" *ngIf="this.authService.getRole()=='admin'">
        <mat-icon color="warn">delete</mat-icon>
      </button>
    </td>
  </ng-container>

<!--  Potrzebne aby tabela wiedziała jakie kolumny ma wyświetlić, pobierana ze zmiennej columnsToDisplay-->
  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
</table>
<!--Paginator z opcjami wielkości strony-->
<mat-paginator [pageSizeOptions]="[5,10,25]" showFirstLastButtons></mat-paginator>
