<h1>Change password</h1>

<div mat-dialog-content>

  <p>Password</p>
  <mat-form-field>
    <input matInput type="password" tabindex="1" (keyup)="changeState()" [(ngModel)]="this.password">
  </mat-form-field>

  <p>Repeat password</p>
  <mat-form-field>
    <input matInput type="password" tabindex="2" (keyup)="changeState()" [(ngModel)]="this.repeat">
  </mat-form-field>

  <div *ngIf="isValid">
    <span>
      Password reapeated incorrectly!
    </span>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="cancelClick()">Cancel</button>
  <button mat-button (click)="getPasswordBack()">OK</button>
</div>


