<!--Widok okna logowania w programie-->

<mat-card class="mat-elevation-z0">
  <mat-card-header>
    <div class="header center">
      <mat-card-title>Login</mat-card-title>
    </div>
  </mat-card-header>
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <mat-card-content>
      <table cellspacing="0">
        <tr>
          <td>
            <mat-form-field>
              <input matInput type="text" id="username" placeholder="Username" autocomplete="off"
                     formControlName="username" required>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field>
              <input matInput type="password" id="password" placeholder="Password" formControlName="password" required>
            </mat-form-field>
          </td>
        </tr>
      </table>
    </mat-card-content>
    <mat-card-actions>
      <div class="actions">
        <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid">LOG IN</button>
      </div>
    </mat-card-actions>
  </form>
</mat-card>
