<!--Widok okna logowania w programie, będzie do tego podpięte logowanie z base auth-->

<!--<mat-card>-->
<!--  <mat-card-header>-->
<!--    <div class="header center">-->
<!--      <mat-card-title>Login</mat-card-title>-->
<!--    </div>-->
<!--  </mat-card-header>-->
<!--  <mat-card-content>-->
<!--    <form [formGroup]="loginForm" (ngSubmit)="login()">-->
<!--      <table cellspacing="0">-->
<!--        <tr>-->
<!--          <td>-->
<!--            <mat-form-field>-->
<!--              <input matInput type="text" id="username" placeholder="Username" autocomplete="off"-->
<!--                     formControlName="username" required>-->
<!--            </mat-form-field>-->
<!--          </td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--          <td>-->
<!--            <mat-form-field>-->
<!--              <input matInput type="password" id="password" placeholder="Password" formControlName="password" required>-->
<!--            </mat-form-field>-->
<!--          </td>-->
<!--        </tr>-->
<!--      </table>-->
<!--    </form>-->
<!--  </mat-card-content>-->
<!--  <mat-card-actions>-->
<!--    <div class="actions">-->
<!--      <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid">LOG IN</button>-->
<!--    </div>-->
<!--  </mat-card-actions>-->
<!--</mat-card>-->

<div class="header center">Log In</div>

<form [formGroup]="loginForm" (ngSubmit)="login()">

  <mat-form-field>
    <input matInput type="text" id="username" placeholder="Username" autocomplete="off" formControlName="username" required>
  </mat-form-field>

  <mat-form-field>
    <input matInput type="password" id="password" placeholder="Password" formControlName="password" required>
  </mat-form-field>

  <div class="actions">
    <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid">LOG IN</button>
  </div>

</form>
